# Desktop App Configuration

# API URL - адрес вашего SAVA сервера
# Для локальной разработки: http://localhost:3001/api
# Для продакшена: http://your-server-ip/api
VITE_API_URL=http://147.45.147.111/api